@charset "utf-8";
/* CSS Document */


body,ul,dd,dl,img,h2,p,li,dt,h3,p,a{
	padding: 0;
	margin: 0;
	border: 0;
	list-style: none;
	color: #666;
}
body{background-image: url(../img/dabeijing.jpg);
	font-family:"宋体", Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:2em;
	color:#333;
	text-decoration:none;}
a,a:visted{ color:#333; text-decoration:none;}
a:hover{ color:#c00;text-decoration: none;
}
a:link {
	text-decoration: none;
	color: #000;
}
a:active {
	text-decoration: none;
	color: #000;
}
h2{
	font-family: "微软雅黑";
	font-size: 30px;
	line-height: 110px;
	padding-left: 20px;
	background-color: #F9F9F9;
}
.b1 {
	border: 1px solid #000;
}
