@charset "utf-8";
/* CSS Document */
#container{
	width:960px;
	margin:5px auto;}
#banner img:hover{
	transform: scale(1.01);}
.nav{
	font-size: 12px;
	height: 80px;
	float:left;}
.nav li{
	float: left;
	width: 192px;
	text-align: center;
	line-height: 80px;
	
}
.nav li a,a:visited{
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: bold;
	display: block;
	color: #FFF;
	text-decoration: none;
	background-color: #CCC;
}
.nav li a:hover {	background-color: #F00;
}
#pagebody{ overflow:hidden; margin:10px 0 0 0;}
#pagebody a {
	text-decoration: none;
	color: #000
}
#pagebody dd{
	text-align:center;
	font-size:20px;
	font-family:"宋体";
	height:40px;}
#pagebody img:hover{
	transform: scale(1.05);
	color: #F8D8DD;
}
#footer{
	position: relative;
	bottom: 68px;
	width:960px;
	text-align: center;
	background: #Ccc;
	line-height: 40px;
	}
	
.slider{
	height:300px;
	}	
#banner marquee {
	font-size:16px;
	line-height:30px;
}
.h33{
	position: relative;
	left: 860px;
	width: 100px;
	height: 50px;
	background-color: #000;
}
.h44{
	width: 100px;
	height: 100px;
	position: relative;
	bottom: 15px;
}
.h55{
	bottom: 83px;
	position: relative;
	left: 860px;
	width: 100px;
	height: 50px;
	background-color:#8BAD80;
}
.h55 h5{
	
	position: relative;
	right: 15px;
	text-align: center;
}
.jg2{
	padding-left:319px;
	font-size:26px;
	color:#F00;
	width:140px;
	}
.jg{
	padding-left:275px;
	padding-top:30px;
	font-size:26px;
	color:#F00;
	width:200px;
	}
.jg3{
	padding-left:319px;
	font-size:26px;
	color:#F00;
	width:140px;
	}
.character {
    display: flex;
	background-color:#F8D8DD
}

.ctleft {
    width: 30%;
    padding: 10px;
}


.ctleft img {
    height: auto;
	float:right;
}

.ctright {
    width: 70%;
    padding: 10px;
}
.character2 {
	position: relative;
	bottom: 65px;
    display: flex;
    background-color: #F8BB3A;
}

.ctleft2 {
	width: 70%;
	padding: 10px;
	color: #333;
}

.ctright2 {
    width:30%;
    padding: 10px;
}

.ctright2 img {
    height: auto;
}
.character3 {
	position: relative;
	bottom: 83px;
    display: flex;
	background-color:#8BAD80
}
.ctleft3 {
    width: 30%;
    padding: 10px;
}
.ctleft3 img {
    height: auto;
	float:right;
}
.ctright3 {
    width: 70%;
    padding: 10px;
}